<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MariaDBDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>

        <property name="hibernate.connection.url">jdbc:mysql://83.168.108.1:3306/s3295_enhanced_facilities</property>
        <property name="hibernate.connection.username">u3295_QrhWZJKg6H</property>
        <property name="hibernate.connection.password">SnpcUg7rT1E64^3.cqTFCGnn</property>

        <property name="hibernate.hbm2ddl.auto">update</property>

        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- Miejsce na klasy encji -->

        <mapping class="nsk.enhanced.Region"/>

        <!-- Dodaj inne klasy encji tutaj -->

    </session-factory>
</hibernate-configuration>